
{% if request.user.is_authenticated %}
<p>{{request.user}}</p>
<a href=''>LogOut</a>
{% else %}

<a href='{% url 'login' %}'>LogIn</a>

{% endif %}

<hr>
<h1>My TO DO List</h1>



<h2><a href="{% url 'create-task' %}">Add Tasks</a></h2>

<table>
    <tr>
        <th>Item</th>
        <th></th>
        <th></th>
        </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task' task.id %}">Views</a></td>
        <td><a href="{% url 'update-task' task.id %}">Edit Task</a></td>
        <td><a href="{% url 'delete-task' task.id %}">delete Task</a></td>
    </tr>
    {% empty %}
        <h3>No Item</h3>
    {% endfor %}
</table>